<html>

<head>
    <title>DevExtreme Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../../../css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="../../../../css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="../../../../css/dx.light.css" />
    <link rel="stylesheet" type ="text/css" href ="styles.css" />

    <script src="https://unpkg.com/core-js@2.4.1/client/shim.min.js"></script>
    <script src="https://unpkg.com/systemjs@0.21.3/dist/system.js"></script>
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript">
        System.import('./index.js');
    </script>
</head>

<body class="dx-viewport">
    <div class="demo-container">
        <div id="app">
            <span v-if="false">Loading...</span>
            <div id="gauge-demo">
                <div id="gauge-container">
                    <div class="left-section">
                        <dx-circular-gauge
                            :value="speedValue / 2"
                            :size="indicatorSize"
                            :value-indicator="indicatorColor"
                            :scale="scale"
                            :geometry="coolantGeometry"
                        ></dx-circular-gauge>
                        <dx-circular-gauge
                            :value="speedValue / 2"
                            :size="indicatorSize"
                            :value-indicator="indicatorColor"
                            :scale="invertedScale"
                            :geometry="rpmGeometry"
                        ></dx-circular-gauge>
                    </div>
                    <div class="center-section">
                        <div class="speed-value">
                            <span>{{speedValue}}</span>
                        </div>
                        <dx-circular-gauge
                            id="speed-gauge"
                            :value="speedValue"
                            :geometry="speedGeometry"
                            :scale="speedScale"
                            :size="speedSize"
                            :value-indicator="speedValueIndicator"
                        ></dx-circular-gauge>
                        <dx-linear-gauge
                            id="fuel-gauge"
                            :value="50 - speedValue * 0.24"
                            :scale="fuelScale"
                            :size="fuelSize"
                            :value-indicator="fuelValueIndicator"
                        ></dx-linear-gauge>
                    </div>
                    <div class="right-section">
                        <dx-circular-gauge
                            :value="speedValue / 2"
                            :size="indicatorSize"
                            :value-indicator="indicatorColor"
                            :scale="invertedScale"
                            :geometry="psiGeometry"
                        ></dx-circular-gauge>
                        <dx-circular-gauge
                            :value="speedValue / 2"
                            :size="indicatorSize"
                            :value-indicator="indicatorColor"
                            :scale="scale"
                            :geometry="instantFuelGeometry"
                        ></dx-circular-gauge>
                    </div>
                </div>
                <dx-slider 
                    id="slider"
                    v-model="speedValue"
                    :width="155"
                    :min="0"
                    :max="200"
                />
            </div>
        </div>
    </div>
</body>
</html>